* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    line-height: 1.5;
    font-family: "Helvetica", "Arial", sans-serif;
}

pre { 
    white-space: pre-line;
    background-color: #eee;
}

blockquote, pre {
    padding: 0.5em;
    border-left: 2px solid black;
}

header {
    top: 0; 
    position: sticky;
    background-color: white;
    margin-bottom: 0.5em;
}

a:hover { text-decoration: underline; color: #0242f2; }
a { text-decoration: none; color: #0640e0; }

input, textarea, button {
    padding: 0.25em;
    font-size: inherit;
    border: 1px solid black;
}

button {
    color: #fff;
    padding: 0.5em 1em;
    background: #0062cc; 
}

button:hover { 
    background: #007bff;
    cursor: pointer;
}

textarea {
  resize: none;
}

code {
    color: #bf616a;
    border-radius: 3px;
    padding: .25em .5em;
    background-color: #f9f9f9;
}

nav { float: right; }

#nav, main { 
    margin: 0 auto; 
    max-width: 50em;
}
#nav { border-bottom: 2px solid black; }
#nav { padding: 0.25em; }
#nav > * { font-size: 1.5rem; }
#nav a { color: black; }

#form-middle {
    margin: 0 auto;
    max-width: 35em;
}
#form-middle input, textarea { width: 100%; margin: 0.25em 0; }
#form-middle button { float: right; }

.thread-listing {
    padding: 0.5em;
    background: #f8f9fa;
}

#threads {
    margin-top: 1em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
