/* #A6E0AC (Celadon), #A6BDE0 (Light Steel Blue) #E0A6DA (Light Orchid) */

body {
    margin: 0;
    line-height: 1.5;
    background-color: #E0C9A6;
    font-family: "Helvetica", "Arial", sans-serif;
}

header {
    top: 0; 
    position: sticky;
    background-color: #E0C9A6;
}

#nav, main { 
    margin: 0 auto; 
    max-width: 50em;
    border-bottom: 2px solid black;
}

pre { 
    padding: 1em;
    white-space: pre-line;
    background-color: #eee;
    border-left: 2px solid black;
}

a:hover { text-decoration: underline; }
a { text-decoration: none; color: #5c6491; }

nav { float: right; }
#nav { padding: 0.25em; }
#nav > * { font-size: 1.5rem; }
#nav a { color: black; }
